
<script type="text/javascript" src="../Scripts/jquery-1.10.2.min.js"></script>
<title>
    @Resources.GUILang.Home
</title>
<div>
    <table>
        <tr style="background-color: aqua">
        </tr>
    </table>
</div>
<div class="jumbotron">
    <table>
        <tr>
            <td style="background-color: #006d39; min-width: 20px; height: 20%; "></td>
            <td rowspan="5" style=" width: 100%; text-align: center;">
                <p class="lead">@Resources.GUILang.Welcome</p>
            </td>
            <td rowspan="5"><img class="wclogo" src="/Resources/tho.png" /></td>
        </tr>
        <tr>
            <td style="background-color: #980600"></td>
        </tr>
        <tr>
            <td style="background-color: #eee"></td>
        </tr>
        <tr>
            <td style="background-color: #121890;"></td>
        </tr>
        <tr>
            <td style="background-color: #d48600; "></td>
        </tr>
</table>
    
    @*<p><a onclick="typechar()" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2><a href="/Home/IME">@Resources.GUILang.IME</a></h2>
        <p>
            @Resources.GUILang.IMEDes
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Resources.GUILang.Phono</h2>
        <p>
            @Resources.GUILang.PhonoDes
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Resources.GUILang.Contacts</h2>
        <p>Nguyễn Việt Khôi</p>
        <p><a href="mailto:nguyenvietkhoi90@gmail.com">nguyenvietkhoi90@gmail.com</a></p>
        <p>
            <a href="https://www.facebook.com/ThmenhChey"><img src="/Resources/fb.png" style="height: 25px;"></a>
        </p>
    </div>
    </div>